<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yangcl.ec.api.erp.mapper.DepartmentMapper" >
    <resultMap id="DepartmentResultMap" type="com.yangcl.ec.common.entity.erp.Department" >
        <id column="sysno" property="sysno" jdbcType="BIGINT" />
        <result column="departmentno" property="departmentNo" jdbcType="VARCHAR" />
        <result column="parent_sysno" property="parentSysno" jdbcType="BIGINT" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="isdel" property="isDel" jdbcType="BIT" />
        <result column="version" property="version" jdbcType="INTEGER" />
        <result column="createdat" property="createdAt" jdbcType="TIMESTAMP" />
        <result column="updatedat" property="updatedAt" jdbcType="TIMESTAMP" />
        <collection property="employees" column="sysno" select="com.yangcl.ec.api.erp.mapper.EmployeeMapper.selectByDepartmentSysNo"/>
    </resultMap>
    <sql id="DepartmentColumns" >
        sysno,departmentno,departmentname,parent_sysno,status,isdel,version,createdat,updatedat
    </sql>
    <insert id="insert" useGeneratedKeys="true" keyProperty="sysno" parameterType="com.yangcl.ec.common.entity.erp.Department">
        INSERT INTO system_department (departmentno,departmentname,parent_sysno,status,isdel,version,createdat,updatedat)
        VALUES (#{departmentName},#{parentSysno},#{status},#{isDel},#{createdAt},#{updatedAt})
    </insert>
    <delete id="delete" parameterType="int">
        DELETE FROM system_department WHERE sysno=#{sysno}
    </delete>
    <update id="update" parameterType="com.yangcl.ec.common.entity.erp.Department">
        UPDATE system_department SET departmentno=#{departmentNo},departmentname=#{departmentName},parent_sysno=#{parentSysno},status=#{status},isdel=#{isDel},
        version=#{version},updatedat=#{updatedAt}
        WHERE sysno=#{sysno}
    </update>
    <select id="get" resultMap="DepartmentResultMap" parameterType="long" >
        select
        <include refid="DepartmentColumns" />
        from system_department
        where sysno = #{sysno,jdbcType=INTEGER}
    </select>
    <select id="select" resultMap="DepartmentResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="DepartmentColumns"/>
        FROM system_department
        WHERE 1=1
    </select>
</mapper>