<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yangcl.ec.api.erp.mapper.PermissionMapper" >
    <resultMap id="PermissionResultMap" type="com.yangcl.ec.common.entity.erp.domain.Permission" >
        <id column="sysno" property="sysno" jdbcType="BIGINT" />
        <result column="permissionno" property="permissionNo" jdbcType="VARCHAR" />
        <result column="permissionname" property="permissionName" jdbcType="VARCHAR" />
        <result column="permissiontype" property="permissionType" jdbcType="INTEGER" />
        <result column="menupath" property="menuPath" jdbcType="VARCHAR" />
        <result column="menuicon" property="menuIcon" jdbcType="VARCHAR" />
        <result column="resource" property="resource" jdbcType="VARCHAR" />
        <result column="parent_sysno" property="parentSysno" jdbcType="BIGINT" />
        <result column="level" property="level" jdbcType="INTEGER" />
        <result column="sortnum" property="sortNum" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="isdel" property="isDel" jdbcType="BIT" />
        <result column="version" property="version" jdbcType="INTEGER" />
        <result column="createdat" property="createdAt" jdbcType="TIMESTAMP" />
        <result column="updatedat" property="updatedAt" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="PermissionColumns" >
        psn.sysno AS sysno,permissionno,permissionname,permissiontype,menupath,menuicon,resource,parent_sysno,level,
        sortnum,psn.status AS status,psn.isdel AS isdel,psn.version AS version,psn.createdat AS createdat,psn.updatedat AS updatedat
    </sql>
    <select id="selectByRoleSysno" resultMap="PermissionResultMap" parameterType="long">
        SELECT
        <include refid="PermissionColumns"/>
        FROM system_permission psn INNER JOIN system_role_permission rpm ON rpm.permission_sysno=psn.sysno
        WHERE rpm.role_sysno=#{sysno}
    </select>
</mapper>