<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yangcl.ec.api.erp.mapper.UserMapper" >
    <resultMap id="UserResultMap" type="com.yangcl.ec.common.entity.erp.User" >
        <id column="sysno" property="sysno" jdbcType="INTEGER" />
        <result column="loginname" property="loginName" jdbcType="VARCHAR" />
        <result column="loginpwd" property="loginPwd" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="version" property="version" jdbcType="INTEGER" />
    </resultMap>
    <sql id="User_Column_List" >
        sysno,employee_sysno,loginname,loginpwd,status,isdel,version
    </sql>
    <select id="getByKey" resultMap="UserResultMap" parameterType="long" >
        select
        <include refid="User_Column_List" />
        from system_user
        where sysno = #{sysno,jdbcType=INTEGER}
    </select>

</mapper>