<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>在线用户</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <div>
      <h3>在线用户</h3><br/>
      <table border="1">
          <tr style="background-color: cadetblue;">
              <td style="width:60px;">帐户ID</td>
              <td>Token</td>
              <td style="width:100px;text-align:center;">操作</td>
          </tr>
          <tr th:each="account:${accounts}">
              <td th:text="${account.accountId}"></td>
              <td th:text="${account.token}"></td>
              <td style="width:100px;text-align:center;"><a th:href="@{/tools/account/remove(accountId=${account.accountId},sysName=${account.sysName},token=${account.token})}">下线</a></td>
          </tr>
      </table>
  </div>
</body>
</html>